#COMPRAS_MATERIAIS_URL=https://compras.dados.gov.br/materiais/v1/materiais.json
#COMPRAS_LICITACOES_URL=https://compras.dados.gov.br/licitacoes/v1/licitacoes.json
#COMPRAS_LICITACAO_ITENS_TEMPLATE=https://compras.dados.gov.br/licitacoes/id/licitacao/{id}/itens.json
#COMPRAS_PRECO_ITENS_TEMPLATE=https://compras.dados.gov.br/licitacoes/id/preco_praticado/{id}/itens.json



COMPRAS_MATERIAIS_URL=https://dadosabertos.compras.gov.br/modulo-material/4_consultarItemMaterial
COMPRAS_PRECOS_MATERIAIS_URL=https://dadosabertos.compras.gov.br/modulo-pesquisa-preco/1_consultarMaterial

REQUEST_TIMEOUT_SECONDS=45
REQUEST_DELAY_SECONDS=0.20
PAGE_SIZE=100
MAX_PAGES=100